@model Category;

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            
            <form class="forms-sample" method="post" >
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input type="text" class="form-control" placeholder="Category">
                </div>
                <button type="submit" class="btn btn-primary me-2 text-light">Create</button>
                <button class="btn btn-light" asp-action="Index">Go back</button>
            </form>
        </div>
    </div>
</div>