@model List<Service>
@{
    ViewData["Title"] = "Service";
}

<section class="container overflow-hidden py-5">
    <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 pb-3 projects">
        <partial name="_ServicesPartialView" model="Model"/>
        @*@Html.Partial("_ServicesPartialView",Model)*@
    </div>
</section>